.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.header.scrolled {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo-header {
    width: 10%;
}

.header-ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-list {
    cursor: pointer;
    font-weight: 500;
    font-family: var(--font-title);
}

.header-list a {
    text-decoration: none;
    color: inherit;
}

.active-page {
    border-bottom: 2px solid var(--color3);;
}

.quote-btn {
    background: var(--color3);
    color: var(--color2);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-family: var(--font-title);
    font-size: 1.2rem;
    border-radius: 4px;
}


.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

.burger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Animación del ícono */
.burger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

.mobile-quote {
    display: none;
}



/* Tablet y mobile */
@media (max-width: 992px) {
    .burger {
        display: flex;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70vw;
        background-color: #fff;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .nav.nav-open {
        right: 0;
    }

    .header-ul {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .desktop-quote {
        display: none;
    }

    .mobile-quote {
        display: block;
    }
}

/* Celulares pequeños */
@media (max-width: 576px) {
    .header {
        padding: 0.8rem 1.5rem;
    }

    .logo-header {
        width: 35%;
    }

    .nav {
        width: 85%;
    }

    .mobile-quote {
        display: block;
    }
}