.testimonials {
    padding: 3rem;
    text-align: center;
}

.testimonial-slider {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.client-img {
    width: 80px;
    height: 80px;
    background: black;
    border-radius: 50%;
    margin: 0 auto 1rem;
}